doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body

    nav
      h1 #[a(href="/") Simple Forms]

      div
        #[a(href="/firstform") First form]
        #[a(href="/secondform") Second form]
    
    block content
