extends layout

block content

 div

  h2 First form
  p Enter a message using the form below.

  form(id="frmSecond" name="frmSecond" action="/secondform_processing" method="POST")
   label(for="txtMessage") Message
   input(type="text" name="txtMessage" id="txtMessage")
   input(type="submit" name="btnSubmit" id="btnSubmit")